:root {
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", georgia;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: var(--type-first);
  font-size: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a,
button {
  cursor: revert;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
